extends ../layout/default
block css 
  link(rel="stylesheet", href="/css/contact.css")
block content
  .Ctitle-wrapper
    .color 
    .title Contact
  .con-wrapper 
    .text-wrapper
      .text-wrap
        .hello.he1 안녕하세요.
        .hello.he2 저의 첫 포트폴리오에 들어오신 것을 환영합니다. >_<
        .hello.he3 현재 사이트는 node.js 로 제작되어 있습니다.
        .text
          .hello.he4 포트폴리오에 대해 궁금한 점이 있으시다면 아래에 있는 연락처로 연락 주시길 바랍니다.
        .hello.he6 지금까지 성장하는 개발자 이세빈이였습니다 !
        .line-wrap
          .line 
    .contact-container .container 
      .contact-wrapper
        h1 h1&nbsp;CONTACT
          .h1-pen
      .p.git-hub .git-hub :  
        a(href="https://github.com/gobltpqls99") https://github.com/gobltpqls99 
      .p.e-mail .e-mail : gobltpqls99@naver.com
      .p.cell-phone .OpenProfile :
        a(href="https://open.kakao.com/o/sKS47P2c" target="_blank") https://open.kakao.com/o/sKS47P2c