@import './mixin';

.title-wrapper {
  position: absolute;
  top: 12%; left: 15%;
  color: #dedede;
  font-size: 4.5em;
  display: flex; align-items: baseline;
  font-family: $Source;
  .color {
    width: 0.5em; height: 0.1em;
    background-color: #4bf1f1;
    margin-right: 0.1em;
  }
}
.con-wrapper {
  width: 100%; height: 100vh;
  position: relative;
  .text-wrapper {
    width: 570px; height: 200px;
    color: #dedede; font-family: $Notos;
    position: absolute; bottom: 46.7%; left: 15%;
    font-size: 1.2em;
    .text-wrap {
      .hello {
        margin-top: 1.3em;
      }
      .text{
        display: flex; justify-content: baseline;
        .hello { margin-top: 1.3em; padding-right: 0.5em; }
        .he4 { position: relative; width: 66px;
          .pen {
            width: 100%; height: 12px; background-color: #4bf1f14f;
            position: absolute; top: 60%; left: -5%;
          }
        }
      }
    }
  }
  .line {
    width: 100%; height: 0.01em;
    background-color: #4bf1f1;
    position: absolute; left: 43%; top: 45.5%;
  }
  .container {
    position: absolute; bottom: 20%; left: 65%;
    color: #dedede;
    font-size: 1.45em;
    font-family: $d2;
    .contact-wrapper {
      display: flex; align-items: baseline;
      font-size: 1.5em;
      h1 {
        padding: 1.3em 0;
        padding-left: 1.5em;
        padding-right: 0.5em;
        position: relative;
        .contact-line {
          position: absolute; left: 44.5%; bottom: 35%;
          width: 180px; height: 17px; background-color: #4bf1f14f;
        }
      }
    }
    .p {
      padding: 0.5em 2em;
      font-size: 0.7em;
    }
  }
  @include desktopL {
    .line { left: 49%; }
  }
  @include desktopM {
    .line { left: 55%; }
  }
  @include desktopM1 {
    .line { left: 60%; }
  }
  @include desktopS {
    .line { left: 0%; top: 60%; }
  }
  @include desktop {
    .container {
      right: 60%; bottom: 9%;
      transform: translateX(-60%);
    }
  }
  @include tablet {
    .text-wrapper {
      font-size: 1em;
    }
  }
  @include mobile {
    font-size: 0.8em;
    .text-wrapper { width: 400px; margin-left: 10px; }
    .line { top: 48%; }
    .container { bottom: 27%; left: 20%; transform: translateX(0); }
  }
  @include mobileS {
    .text-wrapper { display: none; }
    .container { display: none; }
  }
}