@import './mixin';


body {
	overflow: hidden;
}

.img-wrapper {
	width: 100%; height: 100%;
	overflow: hidden;
	background: url(../img/1-2.jpg) center center fixed;
	position: absolute; top: 0; left: 70px;
	.Htitle-wrapper {
		color: #dedede;
		font-size: 3em;
		position: absolute; top: 45%; left: 43%;
		transform: translate(-43%, -45%);
		width: 100%;
		.title-wrap {
			width: 57%;
			margin: 0 auto;
			position: relative;
			.box {
				width: 0.2em; height: 1.2em; background-color: #4af1f1; position: absolute; left: -1.7%; top: 1.5%;
			}
			.hello {
				font-size: 1.2em;
				font-family: $Notof;
				padding-bottom: 0.5em;
			}
			@include desktopM1 {transition: all .5s; width: 100%; font-size: 0.8em; margin-left: 15%; }
		}
		.title {
			margin: 0 auto; width: 100%;
			padding-left: 1em;
			.p { padding-left: 0.5em; }
			.p2 {
				font-size: 1.4em;
				padding-left: 0;
				display: flex; align-items: center;
				color: #4af1f1;
				font-family: $Notof;
				#typing{ text-align: right; width: 100%; position: relative; }
				#typing::after{
					content: "";
					display: block;
					position: absolute; top: 0; right: -10px; width: 4px; height: 100%;
					background-color: #dedede;
				}
				#typing.active::after{ display: none; }
				.h-line {
					width: 80%; height: 0.02em;
					background-color: #4af1f1;
					margin-left: 0.7em;
				}
				@include desktop { font-size: 1em; }
			}
			.name {
				display: flex; align-items: baseline;
				font-size: 0.9em; 
				margin-left: 55%;
				.p3 {
					// position: absolute; top: 150px; right: 550px;
					max-width: 100%;
					margin-top: 0.7em;
					font-family: $Notos;
				}
				.p4 { max-width: 100%; font-family: $Notof; }
			}
			@include desktopM1 {
				font-size: 0.8em;
			}
		}
		.p5 {
			font-size: 0.3em;
			position: absolute; left: 46%; bottom: -35%;
		}
		@include tablet {
			transition: all .5s;
			font-size: 2.5em;
			.title-wrap { margin-left: 20%; }
			.title {
				.p2 {margin: 0.5em 0;}
				.name { margin-left: 20%; }
			}
			.p5 { bottom: -70%; font-size: 0.3em;}
		}
	}
}
