@import './mixin';


.Pcontainer {
	.Ptitle-wrapper {
		position: absolute; top: 12%; left: 15%; color: #dedede;
		font-size: 4.5em; display: flex; align-items: baseline;
		font-family: $Source;
		.color { width: 0.5em; height: 0.1em; background-color: #4af1f1;	margin-right: 0.1em; }
		@include tablet { left: 120px; }
	}
	
	.line {
		width: 0.0125em; height: 1900px; background-color: #4af1f1;
		position: absolute;  left: 20%; top: 230px;
		@include desktopM { height: 2300px; }
		@include desktop { height: 3300px; }
		@include tabletM { display: none; }
	}
	.dot1-wrap {
		display: block; height: 100%; margin-left: 19.75%;
		padding-top: 15em; font-size: 1.5em;	width: 80%; color: #eee;
		.dot1 { width: 0.5em; height: 0.5em; border-radius: 50%; background-color: #4af1f1; }
		.html {
			width: 100%; font-family: $d2; margin-left: 2.5em;
			.Pbox-wrapper { display: flex; flex-wrap: wrap; margin-top: 1.3em;
				a {	width: 370px; margin-right: 2em; position: relative; overflow: hidden; margin-top: 1.2em;  transition: all 1s;
					img { width: 100%; }
					.cover {
						background: rgba(1, 1, 1, 0.4);
						transition: all .8s; opacity: 0;
						width: 100%; height: 100%;
						position: absolute; transform: translateY(450px);
						font-family: $d2; font-size: 1em;
						color: #eeeeee; text-align: center; padding-top: 28%;
						div { font-family: $Notos; padding-top: 1em; font-size: 0.7em;}
					}
					@include desktopS { width: 400px; }
				} a:hover { .cover { transform: translateY(0); opacity: 1;} }
			}
		}
		@include tabletM { display: none; }
	}
	.dot2-wrap {
		font-size: 1.5em;	width: 80%; color: #eee;
		height: 100%; display: block; margin-left: 19.75%; padding-top: 5em;
		.dot2 { width: 0.5em; height: 0.5em; border-radius: 50%; background-color: #4af1f1; }
		.node {
			width: 100%; font-family: $d2; margin-left: 2.5em;
			.Pbox-wrapper { display: flex; flex-wrap: wrap; margin-top: 1.3em;
				a {	width: 370px; margin-right: 2em; position: relative; overflow: hidden; margin-top: 1.2em;  transition: all 1s;
					img { width: 100%; }
					.cover {
						background: rgba(1, 1, 1, 0.4);
						transition: all .8s; opacity: 0;
						width: 100%; height: 100%;
						position: absolute; transform: translateY(450px);
						font-family: $d2; font-size: 1em;
						color: #eeeeee; text-align: center; padding-top: 28%;
						div { font-family: $Notos; padding-top: 1em; font-size: 0.7em;}
					}
					@include desktopS { width: 400px; }
				} a:hover { .cover { transform: translateY(0); opacity: 1;} }
			}
		}
		@include tabletM { display: none; }
	}
	.dot3-wrap {
		font-size: 1.5em;	width: 80%; color: #eee;
		display: block; height: 100%; margin-left: 19.75%; padding-top: 5em;
		.dot3 { width: 0.5em; height: 0.5em; border-radius: 50%; background-color: #4af1f1; }
		.vue {
			width: 100%; font-family: $d2; margin-left: 2.5em;
			.Pbox-wrapper { display: flex; flex-wrap: wrap; margin-top: 1.3em;
				a {	width: 370px; margin-right: 2em; position: relative; overflow: hidden; margin-top: 1.2em;  transition: all 1s;
					img { width: 100%; }
					.cover {
						background: rgba(1, 1, 1, 0.4);
						transition: all .8s; opacity: 0;
						width: 100%; height: 100%;
						position: absolute; transform: translateY(450px);
						font-family: $d2; font-size: 1em;
						color: #eeeeee; text-align: center; padding-top: 28%;
						div { font-family: $Notos; padding-top: 1em; font-size: 0.7em;}
					}
					@include desktopS { width: 400px; }
				} a:hover { .cover { transform: translateY(0); opacity: 1;} }
			}
		}
		@include tabletM { display: none; }
	}
}//Pcontainer

	body {
		overflow-y: auto;
		min-width: 100%; min-height: 100%;
		background-color: #1d1d1d;
		background: url(../img/p3-2.jpg) center center fixed;
	}

