body {
  overflow-y: auto;
  min-width: 100%;
  min-height: 100%;
  background-color: #1d1d1d;
  background: url(../img/p3-2.jpg) center center fixed;
}

.Ctitle-wrapper {
  margin-bottom: 3em;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 12%;
  left: 15%;
  color: #dedede;
  font-size: 4.5em;
  display: flex;
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
}

.Ctitle-wrapper .color {
  width: 0.5em;
  height: 0.1em;
  background-color: #4bf1f1;
  margin-right: 0.1em;
}

.con-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.con-wrapper .text-wrapper {
  width: 100%;
  height: 200px;
  color: #dedede;
  font-family: "Noto Sans KR", sans-serif;
  position: absolute;
  top: 35%;
  left: 15%;
  font-size: 1em;
}

.con-wrapper .text-wrapper .text-wrap .hello {
  margin-top: 1.2em;
}

.con-wrapper .text-wrapper .text-wrap .text {
  position: relative;
  display: flex;
  justify-content: baseline;
}

.con-wrapper .text-wrapper .text-wrap .text .he3 {
  width: 750px;
}

.con-wrapper .text-wrapper .text-wrap .text .he4 {
  position: relative;
  width: 66px;
  display: block;
}

.con-wrapper .text-wrapper .text-wrap .text .he4 .pen {
  width: 100%;
  height: 12px;
  background-color: #4bf1f14f;
  position: absolute;
  top: 8px;
}

.con-wrapper .text-wrapper .text-wrap .line-wrap {
  width: 100%;
  display: flex;
}

.con-wrapper .text-wrapper .text-wrap .line-wrap .he5 {
  width: 200px;
}

.con-wrapper .text-wrapper .text-wrap .line-wrap .line {
  width: 100%;
  height: 0.01em;
  background-color: #4bf1f1;
  margin-top: 1.5em;
}

@media screen and (max-width: 1199px) {
  .con-wrapper .text-wrapper .text-wrap .line-wrap .line {
    left: -15%;
    bottom: -150%;
  }
}

@media screen and (max-width: 991px) {
  .con-wrapper .text-wrapper .text-wrap .line-wrap .line {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .con-wrapper .text-wrapper {
    font-size: 1em;
  }
}

@media screen and (max-width: 615px) {
  .con-wrapper .text-wrapper {
    font-size: 0.8em;
    margin-left: 10px;
  }
}

@media screen and (max-width: 515px) {
  .con-wrapper .text-wrapper {
    display: none;
  }
}

.con-wrapper .container {
  position: absolute;
  top: 60%;
  right: -30%;
  color: #dedede;
  font-size: 1.45em;
  font-family: "Nanum Gothic Coding", monospace;
}

.con-wrapper .container .contact-wrapper {
  display: flex;
  align-items: baseline;
  font-size: 1.5em;
}

.con-wrapper .container .contact-wrapper h1 {
  padding: 1.3em 0;
  padding-left: 1.5em;
  padding-right: 0.5em;
  position: relative;
}

.con-wrapper .container .contact-wrapper h1 .contact-line {
  position: absolute;
  left: 44.5%;
  bottom: 35%;
  width: 180%;
  height: 17px;
  background-color: #4bf1f14f;
}

.con-wrapper .container .p {
  padding: 0.5em 2em;
  font-size: 0.7em;
}

@media screen and (max-width: 991px) {
  .con-wrapper .container {
    left: 50%;
    transform: translateX(-50%);
  }
}
