body {
  overflow-y: auto;
  min-width: 100%;
  min-height: 100%;
  background-color: #1d1d1d;
  background: url(../img/p3-2.jpg) center center fixed;
}

.Ctitle-wrapper {
  margin-bottom: 3em;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 12%;
  left: 15%;
  color: #dedede;
  font-size: 4.5em;
  display: flex;
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
}

.Ctitle-wrapper .color {
  width: 0.5em;
  height: 0.1em;
  background-color: #4bf1f1;
  margin-right: 0.1em;
}

@media screen and (max-width: 767px) {
  .Ctitle-wrapper {
    left: 120px;
  }
}

.con-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.con-wrapper .text-wrapper {
  width: 100%;
  height: 200px;
  color: #dedede;
  font-family: "Noto Sans KR", sans-serif;
  position: absolute;
  top: 270px;
  left: 15%;
  font-size: 1.1em;
}

.con-wrapper .text-wrapper .text-wrap .hello {
  margin-top: 1.2em;
}

.con-wrapper .text-wrapper .text-wrap .text {
  position: relative;
}

.con-wrapper .text-wrapper .text-wrap .text .he3 {
  width: 100%;
}

.con-wrapper .text-wrapper .text-wrap .text .he4 {
  position: relative;
  width: 100%;
  display: block;
}

@media screen and (max-width: 1700px) {
  .con-wrapper .text-wrapper .text-wrap .text {
    display: block;
  }
}

.con-wrapper .text-wrapper .text-wrap .line-wrap {
  width: 100%;
}

.con-wrapper .text-wrapper .text-wrap .line-wrap .line {
  width: 100%;
  height: 0.01em;
  background-color: #4bf1f1;
  margin-top: 2em;
}

@media screen and (max-width: 767px) {
  .con-wrapper .text-wrapper {
    font-size: 0.9em;
    margin-left: 70px;
  }
}

@media screen and (max-width: 615px) {
  .con-wrapper .text-wrapper {
    margin-left: 0;
  }
}

.con-wrapper .contact-container {
  position: absolute;
  top: 550px;
  right: 10%;
  color: #dedede;
  font-size: 1.6em;
  font-family: "Nanum Gothic Coding", monospace;
}

.con-wrapper .contact-container .contact-wrapper {
  font-size: 1.5em;
}

.con-wrapper .contact-container .contact-wrapper h1 {
  width: 400px;
  padding: 1.3em 0;
  padding-left: 1.5em;
  padding-right: 0.5em;
  position: relative;
}

.con-wrapper .contact-container .contact-wrapper h1 .h1-pen {
  position: absolute;
  top: 53%;
  left: 54px;
  width: 48%;
  height: 17px;
  background-color: #4bf1f14f;
}

@media screen and (max-width: 767px) {
  .con-wrapper .contact-container .contact-wrapper h1 .h1-pen {
    width: 40%;
    left: 40px;
  }
}

.con-wrapper .contact-container .p {
  width: 100%;
  padding: 0.5em 2em;
  font-size: 0.7em;
  display: block;
}

.con-wrapper .contact-container .cell-phone {
  margin-bottom: 3em;
}

@media screen and (max-width: 767px) {
  .con-wrapper .contact-container {
    font-size: 1.3em;
    left: 170px;
  }
}

@media screen and (max-width: 615px) {
  .con-wrapper .contact-container {
    left: 70px;
  }
}
