body {
  overflow: hidden;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/1-2.jpg) center center fixed;
  position: absolute;
  top: 0;
  left: 70px;
}

.img-wrapper .Htitle-wrapper {
  color: #dedede;
  font-size: 3em;
  position: absolute;
  top: 45%;
  left: 43%;
  transform: translate(-43%, -45%);
  width: 100%;
}

.img-wrapper .Htitle-wrapper .title-wrap {
  width: 57%;
  margin: 0 auto;
  position: relative;
}

.img-wrapper .Htitle-wrapper .title-wrap .box {
  width: 0.2em;
  height: 1.2em;
  background-color: #4af1f1;
  position: absolute;
  left: -1.7%;
  top: 1.5%;
}

.img-wrapper .Htitle-wrapper .title-wrap .hello {
  font-size: 1.2em;
  font-family: "Noto Serif KR", serif;
  padding-bottom: 0.5em;
}

@media screen and (max-width: 1430px) {
  .img-wrapper .Htitle-wrapper .title-wrap {
    transition: all .5s;
    width: 100%;
    font-size: 0.8em;
    margin-left: 15%;
  }
}

.img-wrapper .Htitle-wrapper .title {
  margin: 0 auto;
  width: 100%;
  padding-left: 1em;
}

.img-wrapper .Htitle-wrapper .title .p {
  padding-left: 0.5em;
}

.img-wrapper .Htitle-wrapper .title .p2 {
  font-size: 1.4em;
  padding-left: 0;
  display: flex;
  align-items: center;
  color: #4af1f1;
  font-family: "Noto Serif KR", serif;
}

.img-wrapper .Htitle-wrapper .title .p2 #typing {
  text-align: right;
  width: 100%;
  position: relative;
}

.img-wrapper .Htitle-wrapper .title .p2 #typing::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: #dedede;
}

.img-wrapper .Htitle-wrapper .title .p2 #typing.active::after {
  display: none;
}

.img-wrapper .Htitle-wrapper .title .p2 .h-line {
  width: 80%;
  height: 0.02em;
  background-color: #4af1f1;
  margin-left: 0.7em;
}

@media screen and (max-width: 1199px) {
  .img-wrapper .Htitle-wrapper .title .p2 {
    font-size: 1em;
  }
}

.img-wrapper .Htitle-wrapper .title .name {
  display: flex;
  align-items: baseline;
  font-size: 0.9em;
  margin-left: 55%;
}

.img-wrapper .Htitle-wrapper .title .name .p3 {
  max-width: 100%;
  margin-top: 0.7em;
  font-family: "Noto Sans KR", sans-serif;
}

.img-wrapper .Htitle-wrapper .title .name .p4 {
  max-width: 100%;
  font-family: "Noto Serif KR", serif;
}

@media screen and (max-width: 1430px) {
  .img-wrapper .Htitle-wrapper .title {
    font-size: 0.8em;
  }
}

.img-wrapper .Htitle-wrapper .p5 {
  font-size: 0.3em;
  position: absolute;
  left: 46%;
  bottom: -35%;
}

@media screen and (max-width: 767px) {
  .img-wrapper .Htitle-wrapper {
    transition: all .5s;
    font-size: 2.5em;
  }
  .img-wrapper .Htitle-wrapper .title-wrap {
    margin-left: 20%;
  }
  .img-wrapper .Htitle-wrapper .title .p2 {
    margin: 0.5em 0;
  }
  .img-wrapper .Htitle-wrapper .title .name {
    margin-left: 20%;
  }
  .img-wrapper .Htitle-wrapper .p5 {
    bottom: -70%;
    font-size: 0.3em;
  }
}

@media screen and (max-width: 515px) {
  .img-wrapper .Htitle-wrapper {
    display: none;
  }
}
