.Pcontainer .Ptitle-wrapper {
  position: absolute;
  top: 12%;
  left: 15%;
  color: #dedede;
  font-size: 4.5em;
  display: flex;
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
}

.Pcontainer .Ptitle-wrapper .color {
  width: 0.5em;
  height: 0.1em;
  background-color: #4af1f1;
  margin-right: 0.1em;
}

@media screen and (max-width: 767px) {
  .Pcontainer .Ptitle-wrapper {
    left: 120px;
  }
}

.Pcontainer .line {
  width: 0.0125em;
  height: 1900px;
  background-color: #4af1f1;
  position: absolute;
  left: 20%;
  top: 230px;
}

@media screen and (max-width: 1580px) {
  .Pcontainer .line {
    height: 2300px;
  }
}

@media screen and (max-width: 1199px) {
  .Pcontainer .line {
    height: 3300px;
  }
}

@media screen and (max-width: 680px) {
  .Pcontainer .line {
    display: none;
  }
}

.Pcontainer .dot1-wrap {
  display: block;
  height: 100%;
  margin-left: 19.75%;
  padding-top: 15em;
  font-size: 1.5em;
  width: 80%;
  color: #eee;
}

.Pcontainer .dot1-wrap .dot1 {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #4af1f1;
}

@media screen and (max-width: 615px) {
  .Pcontainer .dot1-wrap .dot1 {
    display: none;
  }
}

.Pcontainer .dot1-wrap .html {
  width: 100%;
  font-family: "Nanum Gothic Coding", monospace;
  margin-left: 2.5em;
}

.Pcontainer .dot1-wrap .html .Pbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.3em;
}

.Pcontainer .dot1-wrap .html .Pbox-wrapper a {
  width: 370px;
  margin-right: 2em;
  position: relative;
  overflow: hidden;
  margin-top: 1.2em;
  transition: all 1s;
}

.Pcontainer .dot1-wrap .html .Pbox-wrapper a img {
  width: 100%;
}

.Pcontainer .dot1-wrap .html .Pbox-wrapper a .cover {
  background: rgba(1, 1, 1, 0.4);
  transition: all .8s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(450px);
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1em;
  color: #eeeeee;
  text-align: center;
  padding-top: 28%;
}

.Pcontainer .dot1-wrap .html .Pbox-wrapper a .cover div {
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 1em;
  font-size: 0.7em;
}

@media screen and (max-width: 1250px) {
  .Pcontainer .dot1-wrap .html .Pbox-wrapper a {
    width: 400px;
  }
}

.Pcontainer .dot1-wrap .html .Pbox-wrapper a:hover .cover {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 615px) {
  .Pcontainer .dot1-wrap .html {
    margin: 0;
    max-width: 100%;
  }
}

.Pcontainer .dot2-wrap {
  font-size: 1.5em;
  width: 80%;
  color: #eee;
  height: 100%;
  display: block;
  margin-left: 19.75%;
  padding-top: 5em;
}

.Pcontainer .dot2-wrap .dot2 {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #4af1f1;
}

@media screen and (max-width: 615px) {
  .Pcontainer .dot2-wrap .dot2 {
    display: none;
  }
}

.Pcontainer .dot2-wrap .node {
  width: 100%;
  font-family: "Nanum Gothic Coding", monospace;
  margin-left: 2.5em;
}

.Pcontainer .dot2-wrap .node .Pbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.3em;
}

.Pcontainer .dot2-wrap .node .Pbox-wrapper a {
  width: 370px;
  margin-right: 2em;
  position: relative;
  overflow: hidden;
  margin-top: 1.2em;
  transition: all 1s;
}

.Pcontainer .dot2-wrap .node .Pbox-wrapper a img {
  width: 100%;
}

.Pcontainer .dot2-wrap .node .Pbox-wrapper a .cover {
  background: rgba(1, 1, 1, 0.4);
  transition: all .8s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(450px);
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1em;
  color: #eeeeee;
  text-align: center;
  padding-top: 28%;
}

.Pcontainer .dot2-wrap .node .Pbox-wrapper a .cover div {
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 1em;
  font-size: 0.7em;
}

@media screen and (max-width: 1250px) {
  .Pcontainer .dot2-wrap .node .Pbox-wrapper a {
    width: 400px;
  }
}

.Pcontainer .dot2-wrap .node .Pbox-wrapper a:hover .cover {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 615px) {
  .Pcontainer .dot2-wrap .node {
    margin: 0;
    max-width: 100%;
  }
}

.Pcontainer .dot3-wrap {
  margin-bottom: 2em;
  font-size: 1.5em;
  width: 80%;
  color: #eee;
  display: block;
  height: 100%;
  margin-left: 19.75%;
  padding-top: 5em;
}

.Pcontainer .dot3-wrap .dot3 {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #4af1f1;
}

@media screen and (max-width: 615px) {
  .Pcontainer .dot3-wrap .dot3 {
    display: none;
  }
}

.Pcontainer .dot3-wrap .vue {
  width: 100%;
  font-family: "Nanum Gothic Coding", monospace;
  margin-left: 2.5em;
}

.Pcontainer .dot3-wrap .vue .Pbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.3em;
}

.Pcontainer .dot3-wrap .vue .Pbox-wrapper a {
  width: 370px;
  margin-right: 2em;
  position: relative;
  overflow: hidden;
  margin-top: 1.2em;
  transition: all 1s;
}

.Pcontainer .dot3-wrap .vue .Pbox-wrapper a img {
  width: 100%;
}

.Pcontainer .dot3-wrap .vue .Pbox-wrapper a .cover {
  background: rgba(1, 1, 1, 0.4);
  transition: all .8s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(450px);
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1em;
  color: #eeeeee;
  text-align: center;
  padding-top: 28%;
}

.Pcontainer .dot3-wrap .vue .Pbox-wrapper a .cover div {
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 1em;
  font-size: 0.7em;
}

@media screen and (max-width: 1250px) {
  .Pcontainer .dot3-wrap .vue .Pbox-wrapper a {
    width: 400px;
  }
}

.Pcontainer .dot3-wrap .vue .Pbox-wrapper a:hover .cover {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 615px) {
  .Pcontainer .dot3-wrap .vue {
    margin: 0;
    max-width: 100%;
  }
}

body {
  overflow-y: auto;
  min-width: 100%;
  min-height: 100%;
  background-color: #1d1d1d;
  background: url(../img/p3-2.jpg) center center fixed;
}
