.Pcontainer .Ptitle-wrapper {
  position: absolute;
  top: 12%;
  left: 15%;
  color: #dedede;
  font-size: 4.5em;
  display: flex;
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
}

.Pcontainer .Ptitle-wrapper .color {
  width: 0.5em;
  height: 0.1em;
  background-color: #4af1f1;
  margin-right: 0.1em;
}

.Pcontainer .line {
  width: 0.02em;
  height: 150%;
  background-color: #4af1f1;
  position: absolute;
  top: 25%;
  left: 26.5%;
}

.Pcontainer .line .dot1 {
  color: #dedede;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4af1f1;
  position: absolute;
  top: 15%;
  left: -0.24em;
  position: relative;
}

.Pcontainer .line .dot1 .html {
  width: 300px;
  color: #dedede;
  font-size: 1.3em;
  font-family: "Nanum Gothic Coding", monospace;
  position: absolute;
  top: -30%;
  left: 1.8em;
}

.Pcontainer .line .dot1 .html .Pbox-wrapper {
  position: absolute;
  top: 2em;
  left: 0;
  display: flex;
}

.Pcontainer .line .dot1 .html .Pbox-wrapper .box {
  width: 300px;
  height: 200px;
  background-color: #dedede;
  margin-right: 1.5em;
}

.Pcontainer .line .dot2 {
  color: #dedede;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4af1f1;
  position: absolute;
  top: 42%;
  left: -0.24em;
}

.Pcontainer .line .dot2 .node {
  width: 300px;
  color: #dedede;
  font-size: 1.3em;
  font-family: "Nanum Gothic Coding", monospace;
  position: absolute;
  top: -30%;
  left: 1.8em;
}

.Pcontainer .line .dot2 .node .Pbox-wrapper {
  position: absolute;
  top: 2em;
  left: 0;
  display: flex;
}

.Pcontainer .line .dot2 .node .Pbox-wrapper .box {
  width: 300px;
  height: 200px;
  background-color: #dedede;
  margin-right: 1.5em;
}

.Pcontainer .line .dot3 {
  color: #dedede;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4af1f1;
  position: absolute;
  top: 68%;
  left: -0.24em;
}

.Pcontainer .line .dot3 .vue {
  width: 300px;
  color: #dedede;
  font-size: 1.3em;
  font-family: "Nanum Gothic Coding", monospace;
  position: absolute;
  top: -30%;
  left: 1.8em;
}

.Pcontainer .line .dot3 .vue .Pbox-wrapper {
  position: absolute;
  top: 2em;
  left: 0;
  display: flex;
}

.Pcontainer .line .dot3 .vue .Pbox-wrapper .box {
  width: 300px;
  height: 200px;
  background-color: #dedede;
  margin-right: 1.5em;
}

@media screen and (max-width: 1250px) {
  .Pcontainer .line {
    top: 30%;
    height: 320%;
    left: 28%;
  }
  .Pcontainer .line .dot1 {
    top: 8em;
  }
  .Pcontainer .line .dot1 .html .Pbox-wrapper {
    top: 1.2em;
    flex-direction: column;
  }
  .Pcontainer .line .dot1 .html .Pbox-wrapper .box {
    margin: 1em 0;
  }
  .Pcontainer .line .dot2 {
    top: 70em;
  }
  .Pcontainer .line .dot2 .node .Pbox-wrapper {
    top: 1.2em;
    flex-direction: column;
  }
  .Pcontainer .line .dot2 .node .Pbox-wrapper .box {
    margin: 1em 0;
  }
  .Pcontainer .line .dot3 {
    top: 130em;
  }
  .Pcontainer .line .dot3 .vue .Pbox-wrapper {
    top: 1.2em;
    flex-direction: column;
  }
  .Pcontainer .line .dot3 .vue .Pbox-wrapper .box {
    margin: 1em 0;
  }
}

body {
  overflow-y: auto;
  min-width: 100%;
  min-height: 100%;
  background-color: #1d1d1d;
  background: url(../img/p3-2.jpg) no-repeat center center fixed;
}

@media screen and (max-width: 515px) {
  body .line {
    display: none;
  }
}
