.Stitle-wrapper {
  position: absolute;
  top: 12%;
  left: 15%;
  color: #dedede;
  font-size: 4.5em;
  display: flex;
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
}

.Stitle-wrapper .color {
  width: 0.5em;
  height: 0.1em;
  background-color: #4af1f1;
  margin-right: 0.1em;
}

@media screen and (max-width: 767px) {
  .Stitle-wrapper {
    left: 120px;
  }
}

body {
  overflow-y: auto;
  min-width: 100%;
  min-height: 100%;
  background-color: #1d1d1d;
  background: url(../img/p3-2.jpg) center center fixed;
}

.Sbox-wrapper {
  font-family: "Nanum Gothic Coding", monospace;
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
  position: absolute;
  left: 40%;
  color: #dedede;
  font-size: 1.5em;
}

.Sbox-wrapper img {
  overflow: hidden;
  width: 70px;
  height: 100%;
  transition: all 1s;
}

.Sbox-wrapper img:hover {
  transform: scale(1.1);
}

.Sbox-wrapper .text-img {
  overflow: hidden;
  transition: all 1s;
  cursor: default;
}

.Sbox-wrapper .text-img:hover {
  transform: scale(1.1);
}

.Sbox-wrapper .frontend {
  margin-left: 5em;
  margin-top: 6em;
  text-align: center;
  width: 330px;
  height: 300px;
  background: rgba(255, 255, 255, 0.13);
  border: 1px solid #dedede;
  padding-top: 2em;
  position: relative;
}

.Sbox-wrapper .frontend .tape {
  width: 30px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.26);
  position: absolute;
  top: -13%;
  left: 48%;
  transform: rotate(10deg);
}

.Sbox-wrapper .frontend .s-line {
  width: 57px;
  height: 0.02em;
  opacity: .5;
  background-color: #dedede;
  position: absolute;
  top: 240px;
  left: -57px;
}

.Sbox-wrapper .frontend .img-box img {
  margin: 0.7em 1em;
}

.Sbox-wrapper .frontend .publisher {
  text-align: left;
  width: 450px;
  height: 400px;
  background: rgba(255, 255, 255, 0.17);
  border: 1px solid #dedede;
  padding-top: 1.3em;
  padding-left: 1.5em;
  position: absolute;
  left: -506px;
  top: 40%;
}

.Sbox-wrapper .frontend .publisher .s-line {
  position: absolute;
  width: 0.02em;
  height: 35px;
  top: 400px;
  left: 195px;
}

.Sbox-wrapper .frontend .publisher .img-box {
  padding-left: 0.2em;
  padding-top: 0.7em;
}

.Sbox-wrapper .frontend .publisher .img-box .text-img {
  width: 95px;
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9em;
  text-align: center;
}

.Sbox-wrapper .frontend .publisher .img-box img {
  margin: 0.9em 0.5em;
}

.Sbox-wrapper .frontend .backend {
  text-align: center;
  width: 350px;
  height: 330px;
  background: rgba(255, 255, 255, 0.19);
  border: 1px solid #dedede;
  padding-top: 2em;
  position: absolute;
  left: 380px;
  top: 70px;
}

.Sbox-wrapper .frontend .backend .s-line {
  width: 52px;
  height: 0.02em;
  opacity: .5;
  background-color: #dedede;
  position: absolute;
  top: 50px;
  left: -52px;
}

.Sbox-wrapper .frontend .backend .img-box {
  padding-top: 0.5em;
}

.Sbox-wrapper .frontend .backend .img-box img {
  margin: 0.5em;
}

.Sbox-wrapper .frontend .backend .img-box .text-img {
  width: 95px;
  display: inline-block;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.7em;
  padding-top: 1em;
}

.Sbox-wrapper .frontend .etc {
  text-align: left;
  width: 200px;
  height: 190px;
  background: rgba(255, 255, 255, 0.23);
  border: 1px solid #dedede;
  padding-top: 1em;
  padding-left: 1em;
  position: absolute;
  left: 434px;
  bottom: -370px;
}

.Sbox-wrapper .frontend .etc .s-line {
  width: 0.02em;
  height: 80px;
  opacity: .5;
  background-color: #dedede;
  position: absolute;
  top: -80px;
  left: 45px;
}

.Sbox-wrapper .frontend .etc .img-box {
  text-align: center;
  padding-top: 0.8em;
  margin-right: 1em;
}

.Sbox-wrapper .frontend .etc .img-box img {
  margin: 0.5em 0.5em;
}

@media screen and (max-width: 615px) {
  .Sbox-wrapper .frontend .etc .img-box {
    margin: 0;
  }
}

.Sbox-wrapper .frontend .server {
  text-align: left;
  width: 250px;
  height: 190px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #dedede;
  padding-top: 1em;
  padding-left: 1em;
  position: absolute;
  left: 160px;
  bottom: -230px;
}

.Sbox-wrapper .frontend .server .s-line {
  width: 70px;
  height: 0.02em;
  opacity: .5;
  background-color: #dedede;
  position: absolute;
  top: 100px;
  left: 250px;
}

.Sbox-wrapper .frontend .server .img-box {
  text-align: center;
  padding-top: 0.8em;
  margin-right: 1em;
}

.Sbox-wrapper .frontend .server .img-box img {
  margin: 0.5em 0.5em;
}

@media screen and (max-width: 615px) {
  .Sbox-wrapper .frontend .server .img-box {
    margin: 0;
  }
}

.Sbox-wrapper .frontend .design {
  text-align: center;
  width: 300px;
  height: 180px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #dedede;
  padding-top: 0.7em;
  position: absolute;
  left: -260px;
  bottom: -345px;
}

.Sbox-wrapper .frontend .design .s-line {
  width: 50px;
  height: 0.02em;
  opacity: .5;
  background-color: #dedede;
  position: absolute;
  top: 90px;
  left: -50px;
}

.Sbox-wrapper .frontend .design .img-box {
  padding-top: 1.5em;
}

.Sbox-wrapper .frontend .design .img-box img {
  margin: 0 0.3em;
}

@media screen and (max-width: 1700px) {
  .Sbox-wrapper .frontend .s-line {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .Sbox-wrapper .frontend {
    width: 450px;
  }
  .Sbox-wrapper .frontend .publisher, .Sbox-wrapper .frontend .backend, .Sbox-wrapper .frontend .etc, .Sbox-wrapper .frontend .server, .Sbox-wrapper .frontend .design {
    position: static;
    margin-top: 2em;
    padding: 1em 0;
    text-align: center;
    width: 450px;
  }
  .Sbox-wrapper .frontend .publisher .img-box, .Sbox-wrapper .frontend .backend .img-box, .Sbox-wrapper .frontend .etc .img-box, .Sbox-wrapper .frontend .server .img-box, .Sbox-wrapper .frontend .design .img-box {
    padding-top: 1.5em;
    padding-left: 0;
  }
  .Sbox-wrapper .frontend .publisher .s-line, .Sbox-wrapper .frontend .backend .s-line, .Sbox-wrapper .frontend .etc .s-line, .Sbox-wrapper .frontend .server .s-line, .Sbox-wrapper .frontend .design .s-line {
    display: none;
  }
  .Sbox-wrapper .frontend .frontend {
    padding-left: 0;
    height: 300px;
  }
  .Sbox-wrapper .frontend .frontend .img-box img {
    width: 60px;
    margin: 0.5em;
  }
  .Sbox-wrapper .frontend .etc {
    padding-left: 0;
  }
}

@media screen and (max-width: 991px) {
  .Sbox-wrapper .frontend {
    margin-top: 300px;
    margin-left: -20%;
    transition: all .5s;
    margin-bottom: 5em;
  }
  .Sbox-wrapper .frontend .frontend {
    width: 70%;
  }
  .Sbox-wrapper .frontend .frontend .publisher, .Sbox-wrapper .frontend .frontend .backend, .Sbox-wrapper .frontend .frontend .etc, .Sbox-wrapper .frontend .frontend .server, .Sbox-wrapper .frontend .frontend .design {
    width: 70%;
  }
}

@media screen and (max-width: 615px) {
  .Sbox-wrapper .frontend {
    width: 300px;
  }
  .Sbox-wrapper .frontend .publisher, .Sbox-wrapper .frontend .backend, .Sbox-wrapper .frontend .etc, .Sbox-wrapper .frontend .server, .Sbox-wrapper .frontend .design {
    width: 300px;
  }
  .Sbox-wrapper .frontend .publisher, .Sbox-wrapper .frontend .backend {
    height: 500px;
  }
}
