.Stitle-wrapper {
  position: absolute;
  top: 12%;
  left: 15%;
  color: #dedede;
  font-size: 4.5em;
  display: flex;
  align-items: baseline;
  font-family: "Source Sans Pro", sans-serif;
}

.Stitle-wrapper .color {
  width: 0.5em;
  height: 0.1em;
  background-color: #4af1f1;
  margin-right: 0.1em;
}

.Sbox-wrapper {
  font-family: "Nanum Gothic Coding", monospace;
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
  position: absolute;
  left: 40%;
  color: #dedede;
  font-size: 1.5em;
}

.Sbox-wrapper .frameworks {
  margin-top: 6em;
  text-align: center;
  width: 450px;
  height: 380px;
  background: rgba(255, 255, 255, 0.23);
  border: 1px solid #dedede;
  padding-top: 2em;
  position: relative;
}

.Sbox-wrapper .frameworks .tape {
  width: 30px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.26);
  position: absolute;
  top: -11%;
  left: 48%;
  transform: translateX(-48%) rotate(9deg);
}

.Sbox-wrapper .frameworks .s-line {
  width: 2.3em;
  height: 0.02em;
  opacity: .5;
  background-color: #dedede;
  position: absolute;
  top: 80%;
  left: -12.55%;
}

.Sbox-wrapper .frameworks .img-box img {
  margin: 0.7em 1em;
}

.Sbox-wrapper .frontend {
  text-align: left;
  width: 350px;
  height: 300px;
  background: rgba(255, 255, 255, 0.23);
  border: 1px solid #dedede;
  padding-top: 1em;
  padding-left: 1em;
  position: absolute;
  left: -23.4%;
  top: 40%;
}

.Sbox-wrapper .frontend .img-box {
  padding-left: 0.8em;
  padding-top: 0.7em;
}

.Sbox-wrapper .frontend .img-box div {
  width: 70px;
  height: 70px;
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9em;
  text-align: center;
  padding-top: 0.9em;
}

.Sbox-wrapper .frontend .img-box img {
  margin: 0.5em 0.8em;
}

.Sbox-wrapper .backend {
  text-align: center;
  width: 250px;
  height: 230px;
  background: rgba(255, 255, 255, 0.23);
  border: 1px solid #dedede;
  padding-top: 1em;
  position: absolute;
  right: 56.1%;
  top: 27%;
}

.Sbox-wrapper .backend .s-line {
  width: 2.75em;
  height: 0.02em;
  opacity: .5;
  background-color: #dedede;
  position: absolute;
  top: 10%;
  left: -27%;
}

.Sbox-wrapper .backend .img-box img {
  margin: 0.5em 0.5em;
}

.Sbox-wrapper .backend .img-box div {
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.8em;
}

.Sbox-wrapper .tools {
  text-align: left;
  width: 250px;
  height: 200px;
  background: rgba(255, 255, 255, 0.23);
  border: 1px solid #dedede;
  padding-top: 1em;
  padding-left: 1em;
  position: absolute;
  left: 22%;
  bottom: 11.8%;
}

.Sbox-wrapper .tools .s-line {
  width: 0.02em;
  height: 1.2em;
  opacity: .5;
  background-color: #dedede;
  position: absolute;
  top: -15%;
  left: 7%;
}

.Sbox-wrapper .tools .img-box {
  text-align: center;
  padding-top: 0.8em;
  margin-right: 1em;
}

.Sbox-wrapper .tools .img-box img {
  margin: 0.5em 0.5em;
}

.Sbox-wrapper .design {
  text-align: center;
  width: 280px;
  height: 200px;
  background: rgba(255, 255, 255, 0.23);
  border: 1px solid #dedede;
  padding-top: 1em;
  position: absolute;
  left: 3.3%;
  bottom: 5%;
}

.Sbox-wrapper .design .s-line {
  width: 1.85em;
  height: 0.05em;
  opacity: .5;
  background-color: #dedede;
  position: absolute;
  top: 40%;
  right: -17%;
}

.Sbox-wrapper .design .img-box {
  padding-top: 1em;
}

.Sbox-wrapper .design .img-box img {
  margin: 0.5em 0.3em;
}

@media screen and (max-width: 1700px) {
  .Sbox-wrapper .s-line {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .Sbox-wrapper .frameworks .s-line {
    display: none;
  }
  .Sbox-wrapper .frontend, .Sbox-wrapper .backend, .Sbox-wrapper .tools, .Sbox-wrapper .design {
    position: static;
    margin-top: 2em;
    text-align: center;
    width: 450px;
  }
  .Sbox-wrapper .frontend .img-box, .Sbox-wrapper .backend .img-box, .Sbox-wrapper .tools .img-box, .Sbox-wrapper .design .img-box {
    padding-top: 1.5em;
    padding-left: 0;
  }
  .Sbox-wrapper .frontend .s-line, .Sbox-wrapper .backend .s-line, .Sbox-wrapper .tools .s-line, .Sbox-wrapper .design .s-line {
    display: none;
  }
  .Sbox-wrapper .frontend {
    padding-left: 0;
    padding-top: 1.5em;
    height: 300px;
  }
  .Sbox-wrapper .frontend .img-box img {
    width: 60px;
    margin: 0.5em;
  }
  .Sbox-wrapper .tools {
    padding-left: 0;
  }
}

@media screen and (max-width: 991px) {
  .Sbox-wrapper {
    position: static;
    margin-top: 10em;
    margin-left: 20%;
  }
}

@media screen and (max-width: 615px) {
  .Sbox-wrapper {
    display: none;
  }
}
