header
  .wrapper
    .navi-wrapper
      .navi
        .menu.home
          a(href="/").i.fa.fa-home
        .menu.skills
          a(href="/skills") S
        .menu.projects
          a(href="/projects") P
        .menu.contact
          a(href="/contact").i.fa.fa-envelope
  