extends ../layout/default
block content

	.img-wrapper 
		.Htitle-wrapper
			.title-wrap 
				.box
				.h-line
				.p.hello 안녕하세요
				.title
					.p.p2
						#typing
						.typing-bar
					.p.p3 이세빈
						.p.p4 입니다.
				.p5 Welcome My PROTFOLIO