extends ../layout/default
block content

	.img-wrapper
		.title-wrapper
			.title-wrap 
				.box
				.line
				.p.hello 안녕하세요
				.title
					.p.p2 웹 개발자
					.p.p3 이세빈
					.p.p4 입니다.
				.p5 Welcome My PROTFOLIO