extends ../layout/default
block content
	.container
		.title-wrapper
			.color 
			.main-title Projects
		.line
			.dot1 
				.html html / css / javascript
					.box-wrapper
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")
			.dot2 
				.node node.js
					.box-wrapper
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")
			.dot3 
				.vue react / vue
					.box-wrapper
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")