extends ../layout/default
block content
	.container
		.title-wrapper
			.color 
			.main-title Projects
		.line
			.dot
		.html-wrapper
			.html html / css / javascript
		//- 	.box-wrapper
		//- 		.box.a(href="")
		//- 			img.box(src="", alt="")
		//- 		.box.a(href="")
		//- 			img.box(src="", alt="")
		//- 		.box.a(href="")
		//- 			img.box(src="", alt="")
		//- .node-wrapper
		//- 	.node node.js
		//- 	.box-wrapper
		//- 		.box.a(href="")
		//- 			img.box(src="", alt="")
		//- 		.box.a(href="")
		//- 			img.box(src="", alt="")
		//- 		.box.a(href="")
		//- 			img.box(src="", alt="")
		//- .vue-wrapper
			.vue react / vue
			.box-wrapper
				.box.a(href="")
					img.box(src="", alt="")
				.box.a(href="")
					img.box(src="", alt="")
				.box.a(href="")
					img.box(src="", alt="")