extends ../layout/default
block content
	.Pcontainer
		.Ptitle-wrapper
			.color 
			.main-title Projects
		.line
			.dot1 
				.html html / css / javascript
					.Pbox-wrapper
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")
			.dot2 
				.node node.js
					.Pbox-wrapper
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")
			.dot3 
				.vue react / vue
					.Pbox-wrapper
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")
						.box.a(href="")
							img.box(src="", alt="")