extends ../layout/default
block css 
	link(rel="stylesheet", href="/css/projects.css")
block content
	.Pcontainer
		.Ptitle-wrapper
			.color 
			.main-title Projects
		.line
			.dot1 
				.html html / css / javascript
					.Pbox-wrapper
						a(href="https://sb904-ella.web.app/html/index.html")
							img(src="", alt="")
						a(href="")
						a(href="")
			.dot2 
				.node node.js
					.Pbox-wrapper
						a(href="https://sb904-note.firebaseapp.com/html/index.html")
						a(href="")
						a(href="")
			.dot3 
				.vue react / vue
					.Pbox-wrapper
						a(href="https://sb904-vue-weather.firebaseapp.com/")
						a(href="")
						a(href="")