.img-wrapper {
  background-image: url(../);
}
.img-wrapper .title-wrapper {
  color: #dedede;
  font-size: 3em;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-60%, -40%);
  width: 57%;
}
.img-wrapper .title-wrapper .title-wrap {
  position: relative;
}
.img-wrapper .title-wrapper .title-wrap .box {
  width: 10px;
  height: 1em;
  background-color: #4af1f1;
  position: absolute;
  left: -20px;
}
.img-wrapper .title-wrapper .title-wrap .p {
  padding-right: 0.5em;
  display: block;
}
.img-wrapper .title-wrapper .title-wrap .p1 {
  font-size: 1.2em;
  padding-bottom: 0.5em;
}
.img-wrapper .title-wrapper .title-wrap .title {
  display: flex;
  align-items: baseline;
  font-size: 1.7em;
  padding-left: 1em;
}
.img-wrapper .title-wrapper .title-wrap .title .p2 {
  color: #4af1f1;
}
.img-wrapper .title-wrapper .title-wrap .title .p3 {
  font-size: 1.2em;
}
.img-wrapper .title-wrapper .title-wrap .p5 {
  font-size: 0.6em;
  position: absolute;
  top: 140%;
  left: 30%;
  transform: translate(-30%, -140%);
  padding-top: 0.7em;
}